main/default/flows/Log_Call_Subflow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <interviewLabel>Log Call Subflow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Log Call Subflow</label>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Create_Task</name>
        <label>Create Task</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <assignRecordIdToReference>CreatedTaskId</assignRecordIdToReference>
        <inputAssignments>
            <field>ActivityDate</field>
            <value>
                <elementReference>$Flow.CurrentDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Description</field>
            <value>
                <elementReference>ParentFormattedDescription</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status</field>
            <value>
                <stringValue>Completed</stringValue>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Subject</field>
            <value>
                <elementReference>CallSubject</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>WhoId</field>
            <value>
                <elementReference>ContactId</elementReference>
            </value>
        </inputAssignments>
        <object>Task</object>
    </recordCreates>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Format_Description_Call</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Format_Description_Call</name>
        <label>Format Description</label>
        <locationX>176</locationX>
        <locationY>67</locationY>
        <connector>
            <targetReference>Create_Task</targetReference>
        </connector>
        <flowName>Format_Description_Subflow</flowName>
        <inputAssignments>
            <name>CallerName</name>
            <value>
                <elementReference>CallerName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>CallNotes</name>
            <value>
                <elementReference>CallNotes</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>ParentFormattedDescription</assignToReference>
            <name>FormattedDescription</name>
        </outputAssignments>
    </subflows>
    <variables>
        <name>CallerName</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CallNotes</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CallSubject</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ContactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>CreatedTaskId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <name>ParentFormattedDescription</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
