main/default/flows/Log_Customer_Call.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <interviewLabel>Log Customer Call {!$Flow.CurrentDateTime}</interviewLabel>
    <label>Log Customer Call</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Createfdsfgsdgf</name>
        <label>Createfdsfgsdgf</label>
        <locationX>176</locationX>
        <locationY>458</locationY>
        <inputAssignments>
            <field>CloseDate</field>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
        </inputAssignments>
        <inputAssignments>
            <field>StageName</field>
        </inputAssignments>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <screens>
        <name>Call_Details_Screen</name>
        <label>Call Details</label>
        <locationX>176</locationX>
        <locationY>134</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Call_Log_Subflow</targetReference>
        </connector>
        <fields>
            <name>CallerName</name>
            <dataType>String</dataType>
            <fieldText>Caller Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>CallSubject</name>
            <dataType>String</dataType>
            <fieldText>Call Subject</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>CallNotes</name>
            <dataType>String</dataType>
            <fieldText>Notes</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Confirmation_Screen</name>
        <label>Confirmation</label>
        <locationX>176</locationX>
        <locationY>350</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Createfdsfgsdgf</targetReference>
        </connector>
        <fields>
            <name>ConfirmationMessage</name>
            <fieldText>&lt;p&gt;Call logged. Task Id: {!ParentTaskId}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>50</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Call_Details_Screen</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <subflows>
        <name>Call_Log_Subflow</name>
        <label>Log the Call</label>
        <locationX>176</locationX>
        <locationY>242</locationY>
        <connector>
            <targetReference>Confirmation_Screen</targetReference>
        </connector>
        <flowName>Log_Call_Subflow</flowName>
        <inputAssignments>
            <name>CallerName</name>
            <value>
                <elementReference>CallerName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>CallSubject</name>
            <value>
                <elementReference>CallSubject</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <name>CallNotes</name>
            <value>
                <elementReference>CallNotes</elementReference>
            </value>
        </inputAssignments>
        <outputAssignments>
            <assignToReference>ParentTaskId</assignToReference>
            <name>CreatedTaskId</name>
        </outputAssignments>
    </subflows>
    <variables>
        <name>ParentTaskId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
