main/default/flows/New_Customer_Onboarding.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>60.0</apiVersion>
    <assignments>
        <name>Append_Contact_Name</name>
        <label>Append Contact Name</label>
        <locationX>270</locationX>
        <locationY>2690</locationY>
        <assignmentItems>
            <assignToReference>ContactNamesSummary</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Build_Contact_Summary.FirstName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ContactNamesSummary</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue> </stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ContactNamesSummary</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Loop_Build_Contact_Summary.LastName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ContactNamesSummary</assignToReference>
            <operator>Add</operator>
            <value>
                <stringValue>, </stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Build_Contact_Summary</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Assign_Matched_Account</name>
        <label>Assign Matched Account</label>
        <locationX>270</locationX>
        <locationY>674</locationY>
        <assignmentItems>
            <assignToReference>var_AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Loop_Through_Account_Matches.Id</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Through_Account_Matches</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Build_Contact1</name>
        <label>Build Contact 1</label>
        <locationX>182</locationX>
        <locationY>1466</locationY>
        <assignmentItems>
            <assignToReference>Contact1Var.FirstName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Contact1FirstName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Contact1Var.LastName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Contact1LastName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Contact1Var.Email</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Contact1Email</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Contact1Var.Phone</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Contact1Phone</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Contact1Var.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>var_AccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ContactsToCreate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Contact1Var</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Contact2</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Build_Contact2</name>
        <label>Build Contact 2</label>
        <locationX>50</locationX>
        <locationY>1682</locationY>
        <assignmentItems>
            <assignToReference>Contact2Var.FirstName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Contact2FirstName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Contact2Var.LastName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Contact2LastName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Contact2Var.Email</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Contact2Email</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Contact2Var.Phone</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Contact2Phone</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Contact2Var.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>var_AccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ContactsToCreate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Contact2Var</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Check_Contact3</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Build_Contact3</name>
        <label>Build Contact 3</label>
        <locationX>50</locationX>
        <locationY>1982</locationY>
        <assignmentItems>
            <assignToReference>Contact3Var.FirstName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Contact3FirstName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Contact3Var.LastName</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Contact3LastName</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Contact3Var.Email</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Contact3Email</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Contact3Var.Phone</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>Contact3Phone</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>Contact3Var.AccountId</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>var_AccountId</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>ContactsToCreate</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>Contact3Var</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Create_Contacts</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Init_Variables</name>
        <label>Initialize Variables</label>
        <locationX>182</locationX>
        <locationY>134</locationY>
        <assignmentItems>
            <assignToReference>ContactNamesSummary</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue></stringValue>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Search_Account_Screen</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Track_Created_Contact_Id</name>
        <label>Track Created Contact Id</label>
        <locationX>270</locationX>
        <locationY>2390</locationY>
        <assignmentItems>
            <assignToReference>CreatedContactIds</assignToReference>
            <operator>Add</operator>
            <value>
                <elementReference>LastCreatedContactId</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Loop_Create_Contacts</targetReference>
        </connector>
    </assignments>
    <decisions>
        <name>Account_Found_Decision</name>
        <label>Account Found?</label>
        <locationX>182</locationX>
        <locationY>950</locationY>
        <defaultConnector>
            <targetReference>Contacts_Details_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Account Found</defaultConnectorLabel>
        <rules>
            <name>Account_Not_Found</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>var_AccountId</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>New_Account_Screen</targetReference>
            </connector>
            <label>Not Found</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Contact2</name>
        <label>Contact 2 Provided?</label>
        <locationX>182</locationX>
        <locationY>1574</locationY>
        <defaultConnector>
            <targetReference>Check_Contact3</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Skip</defaultConnectorLabel>
        <rules>
            <name>Contact2_Provided</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Contact2LastName</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Build_Contact2</targetReference>
            </connector>
            <label>Provided</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Contact3</name>
        <label>Contact 3 Provided?</label>
        <locationX>182</locationX>
        <locationY>1874</locationY>
        <defaultConnector>
            <targetReference>Loop_Create_Contacts</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Skip</defaultConnectorLabel>
        <rules>
            <name>Contact3_Provided</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Contact3LastName</leftValueReference>
                <operator>IsNull</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Build_Contact3</targetReference>
            </connector>
            <label>Provided</label>
        </rules>
    </decisions>
    <decisions>
        <name>Check_Exact_Match</name>
        <label>Is Exact Match?</label>
        <locationX>402</locationX>
        <locationY>566</locationY>
        <defaultConnector>
            <targetReference>Loop_Through_Account_Matches</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No Match</defaultConnectorLabel>
        <rules>
            <name>Is_Exact_Match</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>Loop_Through_Account_Matches.Name</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <elementReference>SearchAccountName</elementReference>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Assign_Matched_Account</targetReference>
            </connector>
            <label>Match</label>
        </rules>
    </decisions>
    <decisions>
        <name>Confirm_Or_Cancel_Decision</name>
        <label>Confirm or Cancel?</label>
        <locationX>182</locationX>
        <locationY>3506</locationY>
        <defaultConnector>
            <targetReference>Confirmation_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>Save</defaultConnectorLabel>
        <rules>
            <name>Cancel_Requested</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>ConfirmSave</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>false</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Delete_Created_Contacts</targetReference>
            </connector>
            <label>Cancel</label>
        </rules>
    </decisions>
    <decisions>
        <name>Want_Opportunity_Decision</name>
        <label>Create an Opportunity?</label>
        <locationX>182</locationX>
        <locationY>2990</locationY>
        <defaultConnector>
            <targetReference>Review_Screen</targetReference>
        </defaultConnector>
        <defaultConnectorLabel>No</defaultConnectorLabel>
        <rules>
            <name>Yes_Create_Opportunity</name>
            <conditionLogic>and</conditionLogic>
            <conditions>
                <leftValueReference>WantsOpportunity</leftValueReference>
                <operator>EqualTo</operator>
                <rightValue>
                    <booleanValue>true</booleanValue>
                </rightValue>
            </conditions>
            <connector>
                <targetReference>Opportunity_Details_Screen</targetReference>
            </connector>
            <label>Yes</label>
        </rules>
    </decisions>
    <formulas>
        <name>SummaryText</name>
        <dataType>String</dataType>
        <expression>&quot;Created contact(s): &quot; &amp; LEFT({!ContactNamesSummary}, LEN({!ContactNamesSummary}) - 2) &amp; IF({!WantsOpportunity}, &quot; Also created the opportunity &quot; &amp; {!OpportunityName} &amp; &quot;.&quot;, &quot;.&quot;)</expression>
    </formulas>
    <interviewLabel>New Customer Onboarding {!$Flow.CurrentDateTime}</interviewLabel>
    <label>New Customer Onboarding</label>
    <loops>
        <name>Loop_Build_Contact_Summary</name>
        <label>Loop Build Contact Summary</label>
        <locationX>182</locationX>
        <locationY>2582</locationY>
        <collectionReference>ContactsToCreate</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Append_Contact_Name</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Opportunity_Prompt_Screen</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Create_Contacts</name>
        <label>Loop Create Contacts</label>
        <locationX>182</locationX>
        <locationY>2174</locationY>
        <collectionReference>ContactsToCreate</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Create_Contact_From_Loop</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Loop_Build_Contact_Summary</targetReference>
        </noMoreValuesConnector>
    </loops>
    <loops>
        <name>Loop_Through_Account_Matches</name>
        <label>Loop Through Account Matches</label>
        <locationX>182</locationX>
        <locationY>458</locationY>
        <collectionReference>AccountCandidates</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Check_Exact_Match</targetReference>
        </nextValueConnector>
        <noMoreValuesConnector>
            <targetReference>Account_Found_Decision</targetReference>
        </noMoreValuesConnector>
    </loops>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processType>Flow</processType>
    <recordCreates>
        <name>Create_Account</name>
        <label>Create Account</label>
        <locationX>50</locationX>
        <locationY>1166</locationY>
        <assignRecordIdToReference>var_AccountId</assignRecordIdToReference>
        <connector>
            <targetReference>Contacts_Details_Screen</targetReference>
        </connector>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>NewAccountName</elementReference>
            </value>
        </inputAssignments>
        <object>Account</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Contact_From_Loop</name>
        <label>Create Contact</label>
        <locationX>270</locationX>
        <locationY>2282</locationY>
        <assignRecordIdToReference>LastCreatedContactId</assignRecordIdToReference>
        <connector>
            <targetReference>Track_Created_Contact_Id</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>Loop_Create_Contacts.AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Email</field>
            <value>
                <elementReference>Loop_Create_Contacts.Email</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>FirstName</field>
            <value>
                <elementReference>Loop_Create_Contacts.FirstName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>LastName</field>
            <value>
                <elementReference>Loop_Create_Contacts.LastName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Phone</field>
            <value>
                <elementReference>Loop_Create_Contacts.Phone</elementReference>
            </value>
        </inputAssignments>
        <object>Contact</object>
    </recordCreates>
    <recordCreates>
        <name>Create_Opp</name>
        <label>Create Opp</label>
        <locationX>50</locationX>
        <locationY>3938</locationY>
        <inputAssignments>
            <field>CloseDate</field>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
        </inputAssignments>
        <inputAssignments>
            <field>StageName</field>
        </inputAssignments>
        <object>Opportunity</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <name>Create_Opportunity</name>
        <label>Create Opportunity</label>
        <locationX>50</locationX>
        <locationY>3206</locationY>
        <connector>
            <targetReference>Review_Screen</targetReference>
        </connector>
        <inputAssignments>
            <field>AccountId</field>
            <value>
                <elementReference>var_AccountId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Amount</field>
            <value>
                <elementReference>OpportunityAmount</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>CloseDate</field>
            <value>
                <elementReference>OpportunityCloseDate</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Name</field>
            <value>
                <elementReference>OpportunityName</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>StageName</field>
            <value>
                <stringValue>Prospecting</stringValue>
            </value>
        </inputAssignments>
        <object>Opportunity</object>
    </recordCreates>
    <recordDeletes>
        <name>Delete_Created_Contacts</name>
        <label>Delete Created Contacts</label>
        <locationX>50</locationX>
        <locationY>3614</locationY>
        <connector>
            <targetReference>Rollback_Changes</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>In</operator>
            <value>
                <elementReference>CreatedContactIds</elementReference>
            </value>
        </filters>
        <object>Contact</object>
    </recordDeletes>
    <recordLookups>
        <name>Find_Account_Candidates</name>
        <label>Find Account Candidates</label>
        <locationX>182</locationX>
        <locationY>350</locationY>
        <assignNullValuesIfNoRecordsFound>true</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Loop_Through_Account_Matches</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Name</field>
            <operator>Contains</operator>
            <value>
                <elementReference>SearchAccountName</elementReference>
            </value>
        </filters>
        <object>Account</object>
        <outputReference>AccountCandidates</outputReference>
        <queriedFields>Id</queriedFields>
        <queriedFields>Name</queriedFields>
    </recordLookups>
    <screens>
        <name>Cancelled_Screen</name>
        <label>Cancelled</label>
        <locationX>50</locationX>
        <locationY>3830</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <connector>
            <targetReference>Create_Opp</targetReference>
        </connector>
        <fields>
            <name>CancelledMessage</name>
            <fieldText>&lt;p&gt;Onboarding cancelled. Any Contacts created in this session were deleted, and the transaction has been rolled back.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Confirmation_Screen</name>
        <label>Confirmation</label>
        <locationX>314</locationX>
        <locationY>3614</locationY>
        <allowBack>false</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>false</allowPause>
        <fields>
            <name>ConfirmationMessage</name>
            <fieldText>&lt;p&gt;{!SummaryText}&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Contacts_Details_Screen</name>
        <label>Contact Details</label>
        <locationX>182</locationX>
        <locationY>1358</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Build_Contact1</targetReference>
        </connector>
        <fields>
            <name>Contact1Section</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;Contact 1 (required)&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Contact1FirstName</name>
            <dataType>String</dataType>
            <fieldText>First Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Contact1LastName</name>
            <dataType>String</dataType>
            <fieldText>Last Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Contact1Email</name>
            <dataType>String</dataType>
            <fieldText>Email</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Contact1Phone</name>
            <dataType>String</dataType>
            <fieldText>Phone</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Contact2Section</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;Contact 2 (optional)&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Contact2FirstName</name>
            <dataType>String</dataType>
            <fieldText>First Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Contact2LastName</name>
            <dataType>String</dataType>
            <fieldText>Last Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Contact2Email</name>
            <dataType>String</dataType>
            <fieldText>Email</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Contact2Phone</name>
            <dataType>String</dataType>
            <fieldText>Phone</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Contact3Section</name>
            <fieldText>&lt;p&gt;&lt;strong&gt;Contact 3 (optional)&lt;/strong&gt;&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>Contact3FirstName</name>
            <dataType>String</dataType>
            <fieldText>First Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Contact3LastName</name>
            <dataType>String</dataType>
            <fieldText>Last Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Contact3Email</name>
            <dataType>String</dataType>
            <fieldText>Email</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>Contact3Phone</name>
            <dataType>String</dataType>
            <fieldText>Phone</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>New_Account_Screen</name>
        <label>New Account</label>
        <locationX>50</locationX>
        <locationY>1058</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Create_Account</targetReference>
        </connector>
        <fields>
            <name>AccountNotFoundMessage</name>
            <fieldText>&lt;p&gt;No account named &amp;quot;{!SearchAccountName}&amp;quot; was found. Let&apos;s create one.&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>NewAccountName</name>
            <dataType>String</dataType>
            <fieldText>Account Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Opportunity_Details_Screen</name>
        <label>Opportunity Details</label>
        <locationX>50</locationX>
        <locationY>3098</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Create_Opportunity</targetReference>
        </connector>
        <fields>
            <name>OpportunityName</name>
            <dataType>String</dataType>
            <fieldText>Opportunity Name</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <fields>
            <name>OpportunityAmount</name>
            <dataType>Currency</dataType>
            <fieldText>Amount</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
            <scale>2</scale>
        </fields>
        <fields>
            <name>OpportunityCloseDate</name>
            <dataType>Date</dataType>
            <fieldText>Expected Close Date</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Opportunity_Prompt_Screen</name>
        <label>Add an Opportunity?</label>
        <locationX>182</locationX>
        <locationY>2882</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Want_Opportunity_Decision</targetReference>
        </connector>
        <fields>
            <name>WantsOpportunity</name>
            <dataType>Boolean</dataType>
            <fieldText>Would you like to create an Opportunity for this Account?</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Review_Screen</name>
        <label>Review &amp; Confirm</label>
        <locationX>182</locationX>
        <locationY>3398</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Confirm_Or_Cancel_Decision</targetReference>
        </connector>
        <fields>
            <name>ReviewSummary</name>
            <fieldText>&lt;p&gt;{!SummaryText}&lt;/p&gt;&lt;p&gt;Save these changes?&lt;/p&gt;</fieldText>
            <fieldType>DisplayText</fieldType>
        </fields>
        <fields>
            <name>ConfirmSave</name>
            <dataType>Boolean</dataType>
            <defaultValue>
                <booleanValue>true</booleanValue>
            </defaultValue>
            <fieldText>Yes, save. (Uncheck to cancel and discard everything created in this session.)</fieldText>
            <fieldType>InputField</fieldType>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <screens>
        <name>Search_Account_Screen</name>
        <label>Search for Account</label>
        <locationX>182</locationX>
        <locationY>242</locationY>
        <allowBack>true</allowBack>
        <allowFinish>true</allowFinish>
        <allowPause>true</allowPause>
        <connector>
            <targetReference>Find_Account_Candidates</targetReference>
        </connector>
        <fields>
            <name>SearchAccountName</name>
            <dataType>String</dataType>
            <fieldText>Account Name</fieldText>
            <fieldType>InputField</fieldType>
            <helpText>&lt;p&gt;Enter the company name. If it doesn&apos;t exist yet, you can create it on the next step.&lt;/p&gt;</helpText>
            <isRequired>true</isRequired>
        </fields>
        <showFooter>true</showFooter>
        <showHeader>true</showHeader>
    </screens>
    <start>
        <locationX>56</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Init_Variables</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <name>AccountCandidates</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Account</objectType>
    </variables>
    <variables>
        <name>Contact1Var</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>Contact2Var</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>Contact3Var</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>ContactNamesSummary</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>ContactsToCreate</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>Contact</objectType>
    </variables>
    <variables>
        <name>CreatedContactIds</name>
        <dataType>String</dataType>
        <isCollection>true</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>LastCreatedContactId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <name>var_AccountId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
